
/* =======================
Start Featured section css 
============*/
.featured-sec a i{
  padding: 8px;
}

.middle {
  opacity: 1;
  top: 45%;
  left: 18%;
}


/* ========
Start Featured section css 
==========================*/
